# IDE / editor
.vscode
*.code-workspace

# don't save results and pm_data
pm_data/
results/

# but do include the bundled running example
!pm_data/running_example.xes
!pm_data/petri_models/
!pm_data/petri_models/running_example.pnml

# compiled / cached modules
__pycache__/
*.pyc

# profiling & solver artifacts
*.mps
*.prof
*.sol

# packaging artifacts
*.egg-info/
dist/
build/

# misc
*nohup.out
*.tar.gz
